html,body{
    padding: 0px;
    margin:  0px;
    background:#F5F5F5;
    
    font-family: Arial, Tahoma, Verdana;
}

/*********************************/
/* Home - Page Styles */
/*********************************/

#headWrap {
    width: 100%;
    min-width: 996px;
    margin: 0px auto 0px auto;
}
    #head {
        width: 100%;
        min-width: 996px;
        float: left;
        background-color: #333333;
        border-bottom: 5px solid #99CC00;
    }    
        #headContentWrap {
            width: 996px;
            margin: 0px auto 0px auto;
        }
            #headContent {
                width: 996px;
                float: left;
                padding: 20px 0px 20px 0px;
            }            

#containWrap {
    width: 100%;
    min-width: 996px;
    margin: 0px auto 0px auto;
}
    #contain {
        width: 100%;
        min-width: 996px;
        float: left;
    }    
        #containContentWrap {
            width: 996px;
            margin: 0px auto 0px auto;
        }
            #containContent {
                width: 996px;
                float: left;
            }         
            #currentDateHolder {
                width: 996px;
                float: left;
                padding: 10px 0px 10px 0px;
                font-size:  11px;
                color: #808080;
                text-align: right;
            }
            #loginProcessor {
                width: 996px;
                float: left;                
            }
            #topTagHolder {
                width: 455px;
                float: left;
                text-align: center;
                padding: 10px 0px 10px 0px;
                font-size: 12px;
                padding: 20px 0px 10px 271px;   
                color: #333333;             
            }            
                #topLinkHolder ul {
                    padding: 0; margin: 0;
                    list-style: none;
                }
                #topLinkHolder ul li {
                    float: left;
                    margin: 0px 5px 0px 5px;
                } 
            #contentHolder {
                width: 966px;
                float: left;
            }    
            #styledInsetPage {
                width: 966px;
                float: left;
                margin: 0px 10px 0px 20px;
            }                             
            #loginHolderWrap {
                width: 996px;
                float: left;
            }
                .loginHolder {
                    border: 1px solid #969696;
                    width: 300px;
                    float: left;
                    margin: 5px;    
                    padding: 0px 10px 10px 10px;
                }       
                .loginFormLink {
                    font-size: 12px;
                    color: #808080;
                }         
            #loginNotices {
                width: 645px;
                float: left;
                margin-left: 10px;
            }
                
            #footHolderWrap {
                width: 996px;
                float: left;
                border-top:  1px solid #eeeeee;
                padding: 5px 0px 5px 0px;
                margin: 10px 0px 0px 0px;
            }
            .footHolder {
                width: 493px;
                float: left;
            }
            #copyrightHolder {
                text-align: left;
                font-size: 11px;
                color: #333333;
                margin-left: 8px;
            }           
            
/*********************************/
/* Home - Page Styles */
/*********************************/
